
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/tekno4.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Teknology</span>
                    <span class="section-heading-lower">Every Where Teknology</span>
                </h2>
                <p class="mb-3">
                    Technical writing is performed by a technical writer (or technical author) and is the process of writing and sharing technical information in a professional setting.[3]:4 A technical writer's primary task is to communicate technical information to another person or party in the clearest and most effective manner possible.[3]:4 The information that technical writers communicate is often complex, so strong writing and communication skills are essential.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">Technical writing is performed by a technical writer (or technical author) and is the process of writing and sharing technical information in a professional setting.[3]:4 A technical writer's primary task is to communicate technical information to another person or party in the clearest and most effective manner possible.[3]:4 The information that technical writers communicate is often complex, so strong writing and communication skills are essential. Technical writers not only convey information through text, but they must be proficient with computers as well. Technical writers use a wide range of programs to create and edit illustrations, diagramming programs to create visual aids, and document processors to design, create, and format documents.[4]</p>
                </div>
            </div>
        </div>
    </div>
</section>


